# Copier ce fichier en .env et adapter les valeurs
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=user
MYSQL_PASSWORD=password

MONGO_ROOT_USER=root
MONGO_ROOT_PASSWORD=root

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

# Grafana (optionnel, defaut admin/admin)
# GRAFANA_USER=admin
# GRAFANA_PASSWORD=admin
